<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.neusoft.mapper.MackTimeStampCodeMapper">

    <select id="getCode" resultType="java.lang.String">
        SELECT REPLACE(UNIX_TIMESTAMP(CURRENT_TIMESTAMP(5)),'.','');
    </select>

</mapper>